<% provide(:title, "Startseite") %>
<!DOCTYPE html>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
<html>
<div class="center jumbotron">
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
  <h1>Willkommen auf Unserer EvenTraum Seite</h1>
  <p>Hier sollen schöne Bilder und viiiiiiel Fantasie rein! :D</p>
  <%= link_to "Hier registrieren", signup_path, class: "btn btn-lg btn-primary" %>
</body>
</div>
</html>
<% end %>

