<% provide(:title, "Support") %>
<!DOCTYPE html>
<html>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | EvenTraum</title>
  </head>
  <body>
  <h1>Hilfe gesucht und gefunden</h1>
  <p>Fake Email und Telefonnummer für Rat und Tat</p>
  </body>
</div>
</html>



